@charset "UTF-8";

/* INTERFACE */

body>header{
	height:70px;
}

body>header h1,
body>header>a{
	margin:0;
	display:block;
	position:absolute;
	top:10px;
	left:10px;
}

body>header h1 img,
body>header>a img{
	width:200px;
	vertical-align:bottom;
}

body>header nav ul li>ul.menu_inner{
	display: block;
	position: relative;
	background: #fff;
	top: 0;
}
body>header nav ul li>ul.menu_inner li a{
	color: #009944;
	border-bottom: 1px dotted #009944;
}

/*
body>header nav ul{
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	font-size:15px;
	background-color:#009944;
	position:absolute;
	top:70px;
	left:0;
	z-index: 11;
	transition: 0.2s;
}

body>header nav ul li{
	border-bottom:1px dotted #fafafa;
}

body>header nav ul li a{
	display:block;
	padding:10px;
}

body>header nav ul li a:link,
body>header nav ul li a:visited{
	color:#fff;
}
*/
body>footer{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	background-color:#333;
}

body>footer small{
	font-family:Verdana,sans-serif;
	font-size:10px;
	color:#fff;
}

body>footer>a{
	display:block;
	margin:0 0 10px;
	font-size:12px;
	color:#fff;
}

body>footer ul.bnr{
	display:flex;
	flex-wrap:wrap;
	margin:0;
	padding:0;
	list-style-type:none;
}

body>footer ul.bnr li{
	width:100%;
	height:160px;
}

body>footer ul.bnr li a{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
	font-size:16px;
	color:#fff;
	background-color: rgba(0,0,0,0.6);
}

body>footer ul.bnr .bg01{
	background-image:url("../img/interface/bg_contact.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

body>footer ul.bnr .bg02{
	background-image:url("../img/interface/bg_form.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

#footer_nav_area{
	margin:0 0 20px;
	padding:20px;
	background-color:#26804e;
}

#footer_nav_area .upload{
	max-width:800px;
	margin:0 auto;
	padding:20px;
	background-color:#fff;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

#footer_nav_area .upload>div{
	width:100%;
	box-sizing:border-box;
	padding:0;
}

#footer_nav_area .upload>a{
	width:100%;
}

#footer_nav_area .upload p{
	margin:20px 0 10px;
	font-size:14px;
}

#footer_nav_area .nav{
	max-width:1200px;
	margin:0 auto;
	padding:20px 0 30px;
	text-align:left;
}

#footer_nav_area .nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:14px;
}

#footer_nav_area .nav>ul{
	display:flex;
	flex-wrap:wrap;
}

#footer_nav_area .nav>ul>li{
	width:100%;
	box-sizing:border-box;
	padding:0 0 10px;
	border-bottom:1px solid #ddd;
}

#footer_nav_area .nav ul li{
	margin:6px 0 0;
}

#footer_nav_area .nav ul>li>ul>li{
	padding:0 0 0 15px;
	font-size:13px;
}

#footer_nav_area .nav ul a{
	display:block;
	color:#fff;
}

#footer_nav_area .address{
	max-width:1200px;
	margin:0 auto;
}

#footer_nav_area .address h2{
	margin:0 0 20px;
	font-size:14px;
	font-weight:400;
	color:#fff;
}

#footer_nav_area .address h2 img{
	width:160px;
	margin:0 15px 0 0;
}

#footer_nav_area .address table{
	margin:0 auto 20px;
	border-collapse:collapse;
	text-align:left;
	color:#fff;
}

#footer_nav_area .address table th{
	display:block;
	padding:0 20px 0 0;
	font-size:14px;
	font-weight:400;
}

#footer_nav_area .address table td{
	display:block;
	padding:0 0 5px;
	font-size:13px;
	font-weight:300;
}

br.sp{
	display: block;
}
span.pc{
	display: none;
}

/* sp_nav

body header nav ul li ul.menu_inner{
	display: none;
}

#nav_sp{
	display:block;
	width:25px;
	height:20px;
	position:absolute;
	top:20px;
	right:20px;
	cursor:pointer;
	z-index:11;
}

#nav_sp span{
	display:block;
	margin:7px 0 7px;
	border-top:2px solid #009944;
}

#nav_sp.open span:nth-child(1){
	margin:7px 0 0;
	transform:rotate(45deg);
	transition-duration:0.5s;
}
#nav_sp.open span:nth-child(2){
	margin:3px 0 0;
	opacity: 0;
	transition-duration:0.5s;
}
#nav_sp.open span:nth-child(3){
	margin:-7px 0 0;
	transform:rotate(-45deg);
	transition-duration:0.5s;
}

#nav_sp.close span:nth-child(1){
	transition-duration:0.5s;
}
#nav_sp.close span:nth-child(2){
	transition-duration:0.5s;
}
#nav_sp.close span:nth-child(3){
	transition-duration:0.5s;
}
 */




/* sub contents */

#sub_contents_area section{
	margin: 0 auto 80px;
}
#sub_contents_area #title_area h1{
	padding-left: 30px;
}
#sub_contents_area #greeting .precident_img{
	text-align: center;
}
#greeting .greeting_text p{
	text-align: center;
}
#home_sp_area ul.item li h3, #sub_contents_area #sp_service ul.item li h3 {
    font-size: 16px;
}
@media screen and (max-width: 327px){
	#sp_message{
		height: 125px !important;
	}
}
#sub_contents_area #greeting .greeting_data{
	position: absolute;
	bottom: -45px;
	right: 0;
}
#company_info div a{
	bottom: 0;
	right: 0;
}

#sub_contents_area #sp_service ul.item li div a{
	margin-top: 0;
}

/* print_service */
#sub_contents_area #reason,
#sub_contents_area #print_service01,
#sub_contents_area #print_service02,
#sub_contents_area #print_service03 {
	margin-bottom: 40px;
}
#sub_contents_area #reason > div,
#sub_contents_area #print_service01 > div,
#sub_contents_area #print_service02 > div,
#sub_contents_area #print_service03 > div {
	padding: 40px 10px 0;
}
#sub_contents_area #print_service01 ul{
	padding: 0;
}
#sub_contents_area #print_service01 ul li figcaption{
	font-size: 13px;
}
#sub_contents_area #print_service01 ul li{
	list-style: none;
	width: 145px;
	text-align: center;
}

#sub_contents_area #print_service02 ul.item {
    gap: 30px 0;
    width: 100%;
    display: block;
    padding: 0;
    margin: auto;
}

#sub_contents_area #print_service02 ul.item li {
    list-style: none;
    position: relative;
    height: 200px;
    max-width: 200px;
    width: 100%;
    margin: auto;
	margin-bottom: 40px;
}

#sub_contents_area #print_service02 ul.item li:not(:last-child)::before{
	content: "";
	position: absolute;
	bottom: -30%;
	left: 40%;
	height: 50px;
	width: 40px;
	background-image: url(../print_service/img/arrow_3.png);
	background-size: contain;
	background-repeat: no-repeat;
}


#sub_contents_area #print_service02 div.comic_book div{
	padding: 0 20px;
}
#sub_contents_area #print_service02 div.comic_book div p{
	text-align: center;
}

#sub_contents_area #print_service03 div.other_sevice_area div.other_sevice img{
	max-width: 500px;
	width: 100%;
}
#sub_contents_area #print_service02 div.strong_point{
    margin: 80px 0 100px 0;
}
#sub_contents_area .input_list .left_column{
	float:none;
	width: 100%;
}
#sub_contents_area .input_list .right_column{
	float:none;
	width: 100%;
}

#sub_contents_area #print_service02 div.strong_point div{
	padding: 0px 20px 25px;
	margin: 0;
    background-color: #fff;
}
#sub_contents_area #print_service02 div.strong_point img{
	max-width: 600px;
    width: 100%;
    height: auto;
}
#sub_contents_area #print_service03 div.other_sevice_area div.other_sevice img{
	max-width: 500px;
	width: 100%;
	height: auto;
}
#sub_contents_area #print_service03 div.other_service_contact .contact_document div{
	width: 100%;
	padding: 10px;
}

#sub_contents_area #reason ol{
	padding: 0;
}
#sub_contents_area #reason ol li{
	margin-bottom: 1rem;
}
#sub_contents_area #print_service01 .step_box {
	width: 100%;
	margin: 0 auto 80px;
}
#sub_contents_area #print_service01 .step_box:nth-child(n+2)::before {
	transform: rotate(180deg);
	top: -50px;
	left: calc(50% - 20px);
}
/* prepress */
#sub_contents_area .prepress_content .left,
#sub_contents_area .prepress_content .right,
#sub_contents_area .prepress_content .half_left,
#sub_contents_area .prepress_content .half_right {
	width: 100%;
}
#sub_contents_area .prepress_content .left,
#sub_contents_area .prepress_content .half_left {
	margin-bottom: 20px;
}
#sub_contents_area .prepress_content > p:first-child {
	line-height: 2.5rem;
}
#sub_contents_area .prepress_content #commit .left p span.blue {
	width: 98%;
	text-align: center;
}
#sub_contents_area .prepress_content > div table tr th,
#sub_contents_area .prepress_content > div table tr td {
	width: 100%;
	display: block;
}
#sub_contents_area .prepress_content > div table tr th {
	margin-top: 10px;
}
/* #sub_contents_area form */
#sub_contents_area .form_area,
#sub_contents_area .enquete_area {
	width: 100%;
}
#sub_contents_area table.form_table tbody tr {
	padding: 10px 0;
}
#sub_contents_area table.form_table tbody tr th.white_normal > span:first-child{
	max-width: 70%;
}
#sub_contents_area table.form_table tbody tr th,
#sub_contents_area table.form_table tbody tr td{
	width: 100%;
	padding: 10px 0;
	display: block;
	text-align: left;
	white-space: normal;
}
#sub_contents_area table.form_table tbody tr td label,
#sub_contents_area .enquete_area label {
	display: block;
	margin: 0 0 5px 0;
}
#sub_contents_area table.form_table tbody tr td label[for="budget"] {
	display: inline-block;
}
#sub_contents_area .form_area input.w_lg,
#sub_contents_area .form_area select.w_lg,
#sub_contents_area .form_area textarea.w_lg,
#sub_contents_area .form_area input.w_md,
#sub_contents_area .form_area select.w_md,
#sub_contents_area .form_area textarea.w_md {
	width: 100%;
	margin: 0;
}
#sub_contents_area .form_area input.w_sm,
#sub_contents_area .form_area select.w_sm,
#sub_contents_area .form_area textarea.w_sm  {
	width: 80%;
}
#sub_contents_area .form_area input.w_tn,
#sub_contents_area .form_area select.w_tn,
#sub_contents_area .form_area textarea.w_tn {
	width: 35%;
}

/* confirm */
#sub_contents_area .confirm_area {
	padding: 15px;
	background-color: rgba(115,111,111,0.05);
	margin-bottom: 40px;
}
#sub_contents_area .confirm_area table tr th,
#sub_contents_area .confirm_area table tr td {
	width: 100%;
	display: block;
	padding: 0.25rem 0;
}
#sub_contents_area .confirm_area table tr th {
	font-weight: bold;
}
#sub_contents_area .confirm_area table tr td {
	margin-bottom: 1rem;
}
#sub_contents_area table.form_table tbody tr td.input_list > span label {
	display: inline-block;
}
/* sp */

#sub_contents_area #sp_message{
	width: 100%;
	color: #fff;
	height: 100px;
	background-color: #001e57;
}
#sub_contents_area #sp_message h1{
	margin: 0;
	padding: 20px 0;
	font-size: 15px;
	text-align: center;
}
h1 .sp_none {
	font-size: 0;
	display: block;
}
/* sp_action */

.active_flex{
	height: 100% !important;
}

.active_resize{
	height: 240px !important;
}
.active_resize::before{
	width: 100% !important;
	height: 240px !important;
}

.active_inner{
	display: block;
	box-sizing: border-box;
    height: 100%;
    width: 100%;
	padding: 20px;
	margin: 0;
}
/* facilities */
#sub_contents_area #factory div div.factory_detail>div>div{
	width: 100%;
}
#sub_contents_area #factory div div.facilities>div{
	width: 100%;
    display: block;
}
#sub_contents_area #factory div div.facilities{
	width: 100%;
}

/* policy */
#sub_contents_area #ink div.ink_intro div.ink_detail_text {
    width: 100%;
}
#sub_contents_area #ink div.ink_intro div.ink_detail_img {
    width: 100%;
}
#sub_contents_area #ink div.ink_intro div.ink_detail {
	display: block;
}
#sub_contents_area section>div {
    padding: 80px 20px 40px;
}

#sub_contents_area #ink div.sustainable {
    background-position: 74%;
}
#sub_contents_area #policy_message div div {
    padding: 0 0 50px;
}
#sub_contents_area #privacy_policy p.left{
	width: 95%;
}

@media screen and (max-width:535px) {

	#sub_contents_area div nav.inner_link ul{
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 20px;
	}
	
	#sub_contents_area div nav.inner_link ul li{
		text-align: center;
		width: 120px;
		margin: 10px 0;
		border-right: none;
		border-bottom: 1px rgb(189, 189, 189) solid;
		padding: 0;
	}
}